services:
    portainer-ce:
        container_name: 'portainer'
        image: 'portainer/portainer-ce:2.33.6'
        ports:
            - '9443:9443'
        restart: always
        command: --admin-password '$$2y$$05$$jPf.3JrjPxXhn/Zr3m/LFuQ84WsCc6tAuN9vZ.pGsuqrps4zZr7q2'
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "data:/data"

volumes:
  data: